/***************************
General Styles
****************************/

body {
  color: #666666;
  font-family: "Open sans", sans-serif;
  margin: 0;
}

header {
  background-image: url("airplane.jpg");
  background-repeat: no-repeat;
  background-position: 0 30%;
  background-size: 100%;
  max-height: 35%;
}

select {
  background-color: white;
  border: 1px solid #666;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #666666;
  font-size: 33px;
  height: 75px;
}

/***************************
Component Styling
****************************/

.heading-1 {
  color: white;
  font-size: 66px;
  font-weight: normal;
  margin: 0;
  max-width: 500px;
  padding: 3% 10%;
  line-height: normal;
}

/* **Sets the labels to display above the drop down menus rather than next to and sets a font size** */
.location {
  display: block;
  font-size: 25px;
  margin-bottom: 10px;
}

/* **Sets the two drop down menus next to one another on the page for a cleaner look and set up** */
.inline {
  display: inline-block;
  margin: 20px 65px 40px 65px;
  text-align: center;
}

/* **Takes the form and sets a max width for the page so it can resize easily
and for the buttons to center on the page** */
.form-property {
  margin: 25px auto;
  max-width: 960px;
}

/* **Styles the submit button to be easily seen, and easy to click, especially on mobile devices** */
.large-button {
  background-color: #666666;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #464646;
  color: white;
  display: block;
  font-size: 33px;
  height: 75px;
  margin: auto;
}
.large-button:active {
  box-shadow: 2px 2px 5px #464646;
  -ms-transform: translate(3px, 3px);
  -webkit-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
}
.large-button:focus {
  outline: none;
}

/* **Aligns and sets the text for where the distance will show up** */
.output-text {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

/* **Tablet view** */
@media all and (max-width: 960px){

  /* **Aligns everything above one another** */
  .inline {
    display: block;
    margin: 10px auto 30px;
  }

  /* **Decreases the font size so it doesn't get lost below the heading** */
  .heading-1 {
    font-size: 53px;
    padding: 6%;
  }
}

/* **Mobile view** */
@media all and (max-width: 480px){
  /* **Decreasing font sizes in order to be legible on a smaller screen.
  The rest of the site will decrease gradually until the smaller screen is reached** */
  .heading-1 {
    font-size: 43px;
    text-align: center;
  }

  select{
    font-size: 30px;
  }

  #button{
    font-size: 27px;
  }

  #distances{
    font-size: 35px;
  }
}