body{
  font-family: "Open sans", sans-serif;
  margin: 0;
  color: #666666;
}

header{
  background-image: url("airplane.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  max-height: 90%;
}

#welcome{
  color: white;
  font-size: 66px;
  max-width: 300px;
  padding: 14%;
}

.location{
  font-size: 25px;
}

.inline{
  display: inline-block;
  text-align: center;
  margin: 20px 85px 40px;
}

form{
  max-width: 1024px;
  margin: 25px auto;
}

select{
  height: 75px;
  background-color: white;
  border: 1px solid #666666;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 33px;
  color: #666666;
}

#button{
  display: block;
  margin: auto;
  border: none;
  height: 75px;
  font-size: 33px;
  color: white;
  background-color: #666666;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #464646;
}

#button:active{
  transform: translate(3px, 3px);
  box-shadow: 2px 2px 5px #464646;
}

#button:focus {
  outline: none;
}

#exists{
  text-align: center;
  padding: 75px 0;
  font-size: 45px;
  color: white;
}

footer{
  height: 250px;
  background-color: #567ca3;
  background: -webkit-linear-gradient(white, #567ca3);
       background: -o-linear-gradient(white, #567ca3);
     background: -moz-linear-gradient(white, #567ca3);
          background: linear-gradient(white, #567ca3);
}

@media screen and (max-width: 960px){
  .inline{
    display: block;
    margin: 10px auto 30px;
  }

  #welcome{
    font-size: 53px;
    padding: 6%;
  }
}

@media screen and (max-width: 480px){
  #welcome{
    font-size: 43px;
  }

  select{
    font-size: 30px;
  }

  #button{
    font-size: 27px;
  }

  #exists{
    font-size: 35px;
    padding-top: 100px;
  }
}