body{
  font-family: "Open sans", sans-serif;
  margin: 0;
  color: #666666;
}

header{
  background-image: url("airplane.jpg");
  background-repeat: no-repeat;
  background-position: 0 30%;
  background-size: 100%;
  max-height: 35%;
}

#welcome{
  color: white;
  font-size: 66px;
  max-width: 500px;
  padding: 3% 10%;
  margin: 0;
}

.location{
  font-size: 25px;
  display: block;
  margin-bottom: 10px;
}

.inline{
  display: inline-block;
  text-align: center;
  margin: 20px 7% 40px;
}

form{
  max-width: 1024px;
  margin: 25px auto;
}

select{
  height: 75px;
  background-color: white;
  border: 1px solid #666666;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 33px;
  color: #666666;
}

#button{
  display: block;
  margin: auto;
  border: none;
  height: 75px;
  font-size: 33px;
  color: white;
  background-color: #666666;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #464646;
}

#button:active{
  transform: translate(3px, 3px);
  box-shadow: 2px 2px 5px #464646;
}

#button:focus {
  outline: none;
}

#exists{
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  color: #666666;
}

@media screen and (max-width: 960px){
  .inline{
    display: block;
    margin: 10px auto 30px;
  }

  #welcome{
    font-size: 53px;
    padding: 6%;
  }
}

@media screen and (max-width: 480px){
  #welcome{
    font-size: 43px;
  }

  select{
    font-size: 30px;
  }

  #button{
    font-size: 27px;
  }

  #exists{
    font-size: 35px;
  }
}